<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Redis home</title>
    <link rel="stylesheet" href="static/home.css"></link>
</head>
<body>
<div class="container" id="app">
    <div class="left-wrapper">
        <div class="left-header">
            <input class="key" placeholder="Key Name" v-model="key">
            <div class="queryButton" @click="queryValue">查询</div>
        </div>
    </div>
    <div class="right-wrapper">
        <textarea class="result" v-model="value" ></textarea>
    </div>
</div>
</body>
<script src="static/vue.js"></script>
<script src="static/axios.js"></script>
<script type="application/javascript" src="static/home.js"></script>
</html>