body {
    margin: auto;
    margin-top: 20px;
    padding: 0;
    max-width: 1024px;
    background: #f8f8f8;
}

.container {
    margin: auto;
    padding: 0 30px;
}

.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.content-container {
    display: flex;
}

.left-wrapper {
    float: left;
    position: relative;
    flex: 1;
}

.right-wrapper {
    position: relative;
    float: right;
    flex: 1;
}

.key {
    width: 200px;
}

.queryButton {
    display: inline-block;
    position: absolute;
    right: 40px;
    background-color: #77ee77;
    width: 80px;
    border-radius: 25px;
    color: #ffffff;
    text-align: center;
}

.button-container {
    display: flex;
    float: right;
}

.button-common {
    flex: 1;
    background-color: red;
    width: 80px;
    border-radius: 25px;
    color: #ffffff;
    text-align: center;
}

.delete {

}

.save-changes {
    margin:0 10px 0 0;
}

.result {
    border-left: solid 1px #000000;
    border-style: none;
    width: 100%;
    height: 650px;
    resize: none;
    flex: 1;
}

.result:focus {
    outline: none;
}