<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Redis home</title>
    <link rel="stylesheet" href="static/home.css"></link>
</head>
<body>
<div class="container">
    <div class="left-wrapper">
        <div class="left-header">
            <input class="key" placeholder="Key Name">
            <div class="queryButton">查询</div>
        </div>
    </div>
    <div class="right-wrapper">
        <textarea class="result"></textarea>
    </div>
</div>
</body>
<script type="application/javascript" src="static/home.js"></script>
</html>